body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    overflow: -moz-hidden-unscrollable;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
	overflow: auto;
}